<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>搜索
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:全部文档}}:</B> <INPUT
TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40" PLACEHOLDER=""
AUTOSAVE="org.cups.help" RESULTS="20">
<INPUT TYPE="SUBMIT" NAME="SEARCH" VALUE="搜索">
<INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="取消"></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar"><TABLE CLASS="inset" SUMMARY="目录">
<TR><TD>

<H3 CLASS="title">在线帮助文档</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">所有文档</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</TD></TR>
</TABLE></DIV>

{QUERY?<P>{HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:所有文档搜索结果}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>未找到匹配项.</P>}
<HR NOSHADE>:}
{HELPTITLE?<FORM ACTION="/help/{?HELPFILE}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="PRINTABLE" VALUE="YES"><INPUT TYPE="SUBMIT" VALUE="查看打印版本"></FORM>:

<H1>在线帮助</H1>

<P>这是CUPS 在线帮助界面。 在上面输入搜索词或单击文档链接显示联机帮助信息。</P>

<P>如果您不熟悉 CUPS，请阅读"<a href="/help/overview.html">CUPS概述</a>"页.</P>

<P><A HREF="https://openprinting.github.io/cups/">CUPS 主页</A> 还提供许多资源，包括用户论坛、常见问题解答以及用于提交报告和功能请求的表单.</P>}
