<H2 CLASS="title">{job_id?移动任务 {job_id}:移动所有任务}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">任务 {job_id}</A>:所有任务} 移动到
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A>.</P>
