<H2 CLASS="title">设置 {is_class?类:打印机} {printer_name} 为默认</H2>

<P>{is_class?类:打印机} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
已设置为默认打印机.</P>

<BLOCKQUOTE><B>注:</B> 通过 <TT>lpoptions</TT> 命令中的用户设置，将覆盖该默认值.</BLOCKQUOTE>
