<H2 CLASS="title">添加打印机 {printer_name}</H2>

<P>打印机 <A HREF="/printers/{printer_name}">{printer_name}</A> 添加成功.

<blockquote>
<b>注:<b>打印机驱动程序和 RAW 队列已弃用，将在后续CUPS的版本中停止支持.
</blockquote>

<FORM ACTION="admin/" METHOD="POST">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="set-printer-options">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<INPUT TYPE="SUBMIT" VALUE="设置打印机选项">
</FORM>
