<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="theme-color" content="#09c" />
  <title>Alpha - Login</title>

  <link rel="stylesheet" href="<%=media%>/style/style.css" />
  <link rel="shortcut icon" href="<%=media%>/favicon.ico" />

  <script src="<%=media%>/js/script.js"></script>
</head>

<%
  local uci = require "luci.model.uci".cursor()
  local use_video = uci:get("alpha", "theme", "use_video") or "0"
%>

<body data-use-video="<%=use_video%>">
  <div id="CrossFade"></div>
  <video id="bgVideo" autoplay muted loop playsinline></video>
  <div class="speaker"></div>
  <audio id="player" loop autoplay></audio>

  <!-- 登录表单 -->
  <form method="post" action="/cgi-bin/luci" class="box" id="loginBox">
    <div class="box-form" id="loginContent">
      <div class="box-login">
        <% if fuser then %>
          <div class="alert-message warning">
            <p><%:密码错误，请重试。%></p>
          </div>
        <% end %>

        <div class="fieldset-body" id="login_form">
          <p class="field">
            <label for="luci_username">用户名</label>
            <input type="text" name="luci_username" id="luci_username" autocomplete="username" value="root" />
          </p>
          <p class="field">
            <label for="luci_password">密码</label>
            <input type="password" name="luci_password" id="luci_password" autocomplete="current-password" />
          </p>
          <label class="checkbox">请输入用户名和密码.</label>
          <input type="submit" id="do_login" value="LOGIN" title="登录" />
        </div>
      </div>
    </div>
  </form>
</body>

</html>

